.h-wrapper {
    color: white;

}

.h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-menu {
    gap: 2rem;
}

.logo {
    width: 30px;
    margin-right: 5px;
    z-index: 10;
    cursor: pointer;
}

.text-logo {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(255, 79, 96);
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(255, 79, 96), 0 -10px 20px rgb(255, 79, 96), 0 -18px 40px rgb(255, 79, 96);
    font-weight: 800;
    z-index: 10;
    cursor: pointer;
}

.h-menu a:hover {
    color: #4066ff;
    transform: scale(1.025);
    cursor: pointer;
}

.black-block {
    display: none;
}

.menu-icon {
    display: none;
}

.close-icon {
    display: none;
    /* Add any other styling you want for the close icon */
}

.close-icon.visible {
    display: block;
}

.close-icon {
    z-index: 100;
    font-size: 30px;
    position: absolute;
    top: 1%;
    right: 4%;
    color: rgb(255, 79, 96);
}

@media (max-width: 768px) {

    .menu-icon {
        display: block;
        z-index: 100;
    }

    .h-menu {
        color: var(--black);
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        align-items: flex-start;
        justify-content: start;
        box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.05);
        transition: all 150ms ease-in-out;
        z-index: 100;
    }
}